{% extends './base.html' %}
{% block content %}



{% comment %} <div>
  <p><b>ScreenName</b>:@{{ screen_name }}</p>
  <p><b>UserId</b>:{{ user_id }}</p>
  <p><b>UserName</b>:{{ user_name }}</p>
  <p><b>{{image}}</b></p>
</div> {% endcomment %}
<!-- login info end -->

<!-- Main content -->
<section class="content">

  <!-- container -->
  <div class="container-fluid">
    <!-- login info -->
    <div>
    {% if request.user.is_authenticated %}
      <p>あなたはログインしています (screen_name: {{ screen_name }})</p>
  
    {% else %}
      <p>あなたはログインしていません</p>
    {% endif %}
    </div>
    <div class="col-5 row my-2 border bg-light d-flex align-items-center" style="height:100px; width:500px;">
      <div class="col-2 container-light">
        <img src="{{ image }}" alt="">
      </div>
      <div class="col-3">
        <p>@{{ screen_name }}</p>
        <h3>{{ user_name }}</h3>
      </div>
    </div>
    <!-- Small boxes (Stat box) -->
    <div class="row">
      
      <!-- Follower counter -->
      <div class="col-lg-3 col-6">
           <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>フォロワー数 : {{ followers_count }} </h3>
              <p>Follower</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
             <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      
      <!-- Follow counter -->
      <div class="col-lg-3 col-6">
           <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>フォロー数 : {{ friends_count }}</h3>
              <p>Follow</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
             <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      
      <!-- FFratio counter -->
      <div class="col-lg-3 col-6">
           <!-- small box -->
        <div class="small-box bg-secondary">
          <div class="inner">
            <h3>FF比 : {{ OAuthTokenTemp.friends_count }}%</h3>
              <p>FF ratio</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- ./col -->
      
      <!-- New Follower counter -->
      {% comment %} <div class="col-lg-3 col-6">
           <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>新規フォロワー数 : {{ user.access_token.followers_count|length }}</h3>
                <p>New Followers</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
      </div> {% endcomment %}
      <!-- ./col -->
    
    </div>
    <!-- Small boxes end (Stat box) -->

  </div>
  <!-- container end -->

</section>
<!-- Main content end -->

 {% endblock content %}