{% extends './base.html' %}
{% block content %}

<!-- Main content -->
<section class="content">

  <!-- container -->
  <div class="container-fluid">
    <!-- login info -->
    <div>
    {% if request.user.is_authenticated %}
      <p>あなたはログインしています (screen_name: @{{ screen_name }})</p>
    {% else %}
      <p>あなたはログインしていません</p>
    {% endif %}
    </div>

    <!-- Small boxes (Stat box) -->
    <div class="row">
      
      <!-- Follower counter -->
      <div class="col-lg-3 col-6">
           <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>フォロワー数 : {{ followers_count }} </h3>
              <p>Follower</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
             <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      
      <!-- Follow counter -->
      <div class="col-lg-3 col-6">
           <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>フォロー数 : {{ friends_count }}</h3>
              <p>Follow</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
             <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      
      <!-- FFratio counter -->
      <div class="col-lg-3 col-6">
           <!-- small box -->
        <div class="small-box bg-secondary">
          <div class="inner">
            <h3 maxlemgth="3">FF比 : {{ FFrate }}%</h3>
              <p>FF ratio</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- ./col -->
      
      <!-- New Follower counter -->
      {% comment %} <div class="col-lg-3 col-6">
           <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>新規フォロワー数 : {{ user.access_token.followers_count|length }}</h3>
                <p>New Followers</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
      </div> {% endcomment %}
      <!-- ./col -->
    
    </div>
    <!-- Small boxes end (Stat box) -->
    <form action="post">
      {% csrf_token %}
      <input type="text" name="keyword">
      <button type="button" name="start_button">開始する</button>
      <button type="button" name="finish_button">終了する</button>
    </form>

  </div>
  <!-- container end -->

</section>
<!-- Main content end -->

 {% endblock content %}